@import url(./General.css);
@import url(./Media.css);

/*& ----------- Header ----------- */
/*^ --------- Nav-Bar --------- */
.nav-Bar {
    background-color: var(--primary-background-color);
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px 15px 0px #00000033;
    z-index: 9000;
}

.nav-Bar #title::after {
    content: '.';
    color: var(--line-color);
}

.content-Nav-Bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5px;
    z-index: 10000;
}

.linkes ul {
    display: flex;
    column-gap: 30px;
}

.linkes a {
    color: gray;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

#home {
    border-bottom: solid 2px var(--line-color);
    color: var(--primary-color-text);
}

.linkes a:hover {
    color: var(--primary-color-text);
    border-bottom: solid 2px var(--line-color);
}

.btn-mod i {
    font-size: 25px;
    color: var(--color-icon-moon);
}

/*^ --------- Header Content --------- */
.header {
    background-color: var(--second-background-color);
    padding: 40px 5px;
    height: 100vh;
    /*margin-top: 35px; */
}

.main-container {
    padding: 40px 0px;
    margin: auto;
    transform: translate(0%, 35%);
}

.header-Content {
    /*height: 90vh;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-food,
.image {
    width: 40%;
}

.paragraphs {
    color: var(--second-color-text);
    line-height: 26px;
    margin: 20px 0px;
}

.btn-book-watch {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.btn-book {
    padding: 1rem 1.5rem;
    color: var(--btn-book-color);
    border-radius: 0px 20px 20px 20px;
    background-color: var(--background-icon);
}

.btn-watch {
    padding: 10px 25px;
    padding-left: 50px;
    color: var(--btn-watch-icon);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-watch i {
    position: absolute;
    left: 23px;
    top: 28%;
}

/** Circle */
.btn-watch::after {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--background-circle-color);
    position: absolute;
    left: 8px;
    z-index: -2;
}

/** Bracket */
.btn-watch::before {
    content: '';
    width: 30px;
    height: 55px;
    border-radius: 50px 0px 0px 50px;
    background-color: var(--background-icon);
    position: absolute;
    left: 0px;
    z-index: -2;
}

.btn-watch:hover {
    color: var(--btn-watch-color-hover);
    transition: all 0.3s ease-in-out;
}

.btn-book:hover {
    background-color: var(--btn-book-color-hover);
    transition: all 0.3s ease-in-out;
}

/** Hero Image */
.header-Content .image img {
    display: block;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 0px var(--shadow-hover);
    position: relative;
}

.header-Content .image img:hover {
    animation: Rotate 0.3s infinite ease-in-out alternate-reverse;
}

@keyframes Rotate {
    0% {
        transform: translate(-3px, -3px) rotate(-1deg);
        left: 3px;
        bottom: 2;
    }

    50% {
        transform: translate(-3px, -2px) rotate(1deg);
        right: -3px;
        top: 1px;
    }

    100% {
        transform: translate(-2px, -2px) rotate(-2deg);
        bottom: -2;
    }
}

/*^ --------- Chefs --------- */
.chefs {
    text-align: center;
    overflow: hidden;
    padding-bottom: 90px;
    background-color: var(--section-primary-background-color);
}

.ineer {
    width: 33%;
    padding: 20px;
}

.item {
    border-radius: 10px;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--therd-background-color);
    transition: transform 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
}

.image-item {
    position: relative;
}

.image-item img {
    border-radius: 10px;
}

.image-item::before {
    content: '';
    background-image: var(--wave-wave-dark);
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 50px;
}

.content-item h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: var(--primary-color-text);
    font-size: 17px;
}

.content-item .small-title,
.content-item h3 {
    padding-top: 8px;
}

.paragraph-item {
    margin: 8px 0px;
    padding: 0px 50px 20px;
    font-style: italic;
}

.cards {
    display: flex;
}

/*! ---- OverLay Social icons ---- */
.item:hover {
    transform: scale(1.1, 1.1);
}

.overlay {
    top: 20px;
    right: -50px;
    width: 40px;
    height: 150px;
    position: absolute;
    border-radius: 8px;
    background-color: #ffffff4d;
    transition: all 0.5s 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover .overlay {
    position: absolute;
    right: 8px;
}

.social-icons {
    width: fit-content;
    color: #37373f66;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.social-icons i {
    font-size: 1.125rem;
    display: flex;
}

/*^ --------- Gallery --------- */
.gallery {
    text-align: center;
    scroll-margin-block-start: 90px;
    background-color: var(--second-background-color);
}

.container-gal-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 0px 70px 0px;
}

.col-cards {
    width: 33.333%;
    padding: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.gal-image {
    width: 100%;
    border: solid 4px #ffffff;
    overflow: hidden;
    position: relative;
}

.gal-image img {
    transition: transform 1s ease-in-out;
    display: block;
}

.gal-image:hover img {
    transform: scale(1.1);
}

.overlay-gal-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 1s ease;
    opacity: 1;
}

.overlay-gal-image h3 {
    font-family: "Inter", sans-serif;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.overlay-gal-image p {
    color: #ddd;
    font-size: 16px;
}

.gal-image:hover .overlay-gal-image {
    top: 0px;
    opacity: 1;
}

/*^ --------- Contact-Us --------- */
.ContactUs {
    padding: 0px 0px 70px 0px;
    scroll-margin-block-start: 90px;
    background-color: var(--section-primary-background-color);
}

.main-container-Contact-Us {
    text-align: center;
    padding-bottom: 30px;
}

.location iframe {
    width: 100%;
    width: 100%;
    height: 400px;
    border: 0;
    padding-bottom: 20px;
}

.info-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    padding-bottom: 20px;
}

.ineer-info {
    width: 49.4%;
}

.item-info {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 30px 20px;
    background-color: var(--background-item-info);
}

.icon-info {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: var(--background-icon);
}

.icon {
    color: var(--color-icon-info-contact-us);
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 18px;
}

.title-contact {
    font-weight: 400;
    color: #7f7f90;
    font-size: 14px;
}

.title-contact h3 {
    font-weight: 700;
    color: #7f7f90;
    font-size: 20px;
    padding-bottom: 5px;
}

.title-contact p,
.title-contact a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--btn-watch-icon);
}

/*^ ---- Form Contact Us ---- */
.form {
    padding-top: 20px;
    box-shadow: 0 0 40px #00000014;
    background-color: var(--background-form);
}

.test {
    padding: 15px;
    padding-bottom: 30px;
}

.form input,
textarea {
    padding: 15px;
    width: 100%;
    margin-bottom: 18px;
    border: solid 1.5px rgba(128, 128, 128, 0.425);
}

.form textarea {
    width: 100%;
    resize: vertical;
}

.form #inp-name,
#inp-email {
    width: 49%;
}

form {
    column-gap: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form button {
    border: 0;
    border-radius: 20px;
    padding: 15px 35px;
    font-size: 15px;
    color: var(--btn-book-color);
    background-color: var(--background-icon);
}

.form input:focus,
textarea:focus {
    outline: none;
    border: solid 2px;
    border-color: var(--background-icon);
}


/*^ --------- Footer --------- */
.relative-footer {
    color: #FFFFFF;
    position: relative;
    box-shadow: 0px -1px 5px #0007;
}

.sections-footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    padding-bottom: 35px;
}

/*^ ---- Left Container ---- */
.left-container-footer {
    width: 24%;
}

.footer {
    position: static;
    bottom: 0%;
    left: 0px;
    right: 0px;
    height: fit-content;
    padding-top: 30px;
    background-image: url(../Images/footerimage.jpg);
    background-size: cover;
}

.title-footer {
    width: fit-content;
    display: flex;
    column-gap: 10px;
}

.title-footer h1::after {
    content: '.';
    color: var(--line-color);
}

.icon-footer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.paragraph {

    padding: 10px 0px 20px 0px;
}

.title-social {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: solid 2px #585858;
}

.icon-social {
    padding: 20px;
}

.icons-social {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

/*^ ---- Middel Container ---- */
.middle-container-footer {
    width: 50%;
}

.input-email {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.input-email input {
    width: 80%;
    padding: 12px;
    border: 0;
}

.input-email button {
    font-size: 17px;
    padding: 10px 10px;
    border: 0;
    color: var(--btn-book-color);
    background-color: var(--background-icon);
}

.title-Links-footer {
    padding: 20px 0px;
}

.linkes-footer {
    display: flex;
    column-gap: 15px;
}

.left-likes,
.right-likes {
    width: 50%;
}

.lef-likes li,
.rig-likes li {
    padding-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.lef-likes li::before,
.rig-likes li::before {
    content: '\f105';
    font: var(--fa-font-solid);
    margin-right: 5px;
}

.lef-likes li:hover,
.rig-likes li:hover {
    transform: translate(10px);
    background-color: #222222;
}

/*^ ---- Right Container ---- */
.right-container-footer {
    width: 24%;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact li {
    gap: 12px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.contact i {
    font-size: 22px;
    padding: 10px;
    color: var(--background-icon);
}